.svg-icon.crew-hero-icon1,
.svg-icon.crew-hero-icon2 {
  opacity: 0;
}
.svg-icon.crew-hero-icon1 {
  transform: rotateZ(145deg) scale(0.55);
}
.svg-icon.crew-hero-icon2 {
  transform: rotateZ(-180deg) scale(1.85);
}

.flickity-viewport {
  /* height: 50vh !important; */
  height: 400px !important;
  max-height: 50rem;
  width: 100%;
  overflow: visible !important;
}
